/* /css/general.css */

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  body.fade-out {
    opacity: 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  