* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
/* General page styling */
body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "bookman old style";
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: calc(
    50% - -150px
  ); /* Adjust Xpx to offset from center to top border of .officials */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: url("../images/logo.png") no-repeat center center;
  background-size: contain;
  opacity: 0.1;
  z-index: -1;
}

/* Header section styling */
.header {
  width: 90%;
  display: flex;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
}
.header h2 {
  font-weight: bolder;
  font-style: italic;
}
.header h3 {
  font-weight: lighter;
  font-style: italic;
}
.header img {
  width: 100px;
}

.left-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
}
.left-logo img {
  width: 100px;
}
.right-logo img {
  width: 100px;
}
.right-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 50px;
}

.center-content {
  width: 70%;
  align-items: center;
  font-size: 11px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

.content h1 {
  text-decoration: underline;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.letter {
  font-style: italic;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.letter h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  padding-top: 20px;
}
.content-letter {
  padding-top: 40px;
}
.content-letter1 {
  padding: 10px 0;
}

.acknowledge {
  padding-top: 20px;
}
.signature {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-top: 60px;
  width: 90%;
}
.acknowledge strong,
.remarks strong {
  text-decoration: underline;
}
.remarks {
  padding-top: 20px;
}
.dob {
  padding-top: 20px;
}
.content-letter strong {
  text-decoration: underline;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  body::before {
    content: "";
    position: absolute;
    top: calc(
      50% - -150px
    ); /* Adjust Xpx to offset from center to top border of .officials */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    background: url("../images/logo.png") no-repeat center center;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
  }
  .div {
    page-break-inside: avoid;
  }
}
